<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
	<meta charset="utf-8">
</head>

<body>
	<script>
			
		function toPanier(){
			window.location ='/panier'
		}
		
		function Payer(){
			if (window.confirm('Etes-vous sur de vouloir terminer votre commande ?')) {
            window.location='/confirmCommand';
            }
		}
		
	</script>
	<span class="bigText" th:text="paiement"></span>
	<p></p>
	<p>Vous êtes sur le point de payer la somme suivante </p>
	<span class="bigText">Total :  <span class="bigText" th:text="${prixTotal}"></span></span>
	<p></p>
	<input type="button" class="button" value="Payer" onclick="Payer()">&nbsp;
	<input type="button" class="button" value="Voir le panier" onclick="toPanier()">&nbsp;
	
	
	<p />
	<p />
</body>

</html>